body {
  font-family: Arial, sans-serif;
}
header {
  background: linear-gradient(to bottom, #f5f5f5, #ccc);
  flex-direction: row;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.logo img {
  width: 75px;
}

.lista nav {
  display: flex;
}
.lista nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

section h1 {
  text-transform: uppercase;
}
#hero {
  background-color: aqua;
  display: flex;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1613834926943-9e4ac2945744?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  /* background-image: url("./hero-image.jpg"); */

  background-size: cover;
  justify-content: center;
  align-items: center;
}
.textContainer h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.textContainer {
  color: black;
  text-align: center;
}
.textContainer p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer {
  background-color: #3b3b3b;
  color: white;
  text-align: center;
  font-size: 12px;
}

.catalogo {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

#about {
  padding: 20px;
}

#services {
  padding: 20px;
}

#services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#services li {
  margin-bottom: 10px;
}

#contact {
  padding: 20px;
}

/* Añadir una animación al botón de llamada a la acción */
.catalogo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
